# EditorConfig (https://editorconfig-specification.readthedocs.io/en/latest/#supported-properties)
[*]
indent_style = space
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8-bom

[*.{csproj}]
indent_size = 2
tab_width = 2

[*.{json}]
indent_size = 2
tab_width = 2

[*.{yml,yaml}]
indent_size = 2
tab_width = 2

[*.md]
indent_size = 2
tab_width = 2
trim_trailing_whitespace = false

# .NET (https://aka.ms/editorconfigdocs)
[*]
dotnet_sort_system_directives_first = true
